.settingsPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  overflow-y: auto; */
}

.settingsContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
