.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  /* align-content: space-around; */

  border-bottom: 1px solid #ccc;
  /* padding: 16px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: sticky;
  top: 0;
  /* position: relative; */
  z-index: 10;
}
.title {
  font: bold;
  margin-left: 30px;
  color: black;
  /* margin-right: 30px; */
}
